.main {
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 120px;
  border: 1px solid var(--fg-color);
  border-radius: 20px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  width: 600px;
}

.form h1 {
  font-size: 32px;
  font-weight: 500;
}

.form label {
  margin-top: 40px;
  font-size: 15px;
  font-weight: 500;
}

.form input  {
  margin-top: 15px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--bg-input-color);
  border: none;
  padding: 0 10px;
  width: 525px;
}

.form button {
  margin-top: 40px;
  align-self: start;
}