.content {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  align-items: center;
  gap: 50px;
}

.links {
  display: flex;
  border-radius: 10px;
  background-color: var(--reservation-bg-color);
}

.links a {
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  padding: 15px 0;
  width: 350px;
  text-align: center;
}

.selected {
  background-color: var(--delete-btn-color);
  color: var(--bg-color);
}