.content {
  display: flex;
  gap: 100px;
  justify-content: center;
  padding: 80px 0;
}

.text h1 {
  padding: 10px 32px;
  font-size: 20px;
  font-weight: 700;
  color: var(--bg-color);
  background-color: var(--title-color);
  border-radius: 8px;
  display: inline-block;
}

.text h2 {
  font-size: 38px;
  width: 575px;
  font-weight: 500;
  color: var(--text-color);
  line-height: 130%;
  margin-top: 20px;
}

.featuresList {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;
}

.featuresItem {
  display: flex;
  gap: 25px;
  align-items: center;
}

.featuresItem img {
  width: 52px;
  height: 52px;
  object-fit: contain;
  background-color: var(--bg-icon-color);
  padding: 12px;
  border-radius: 16px;
}

.featuresItemText {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.featuresItemText h3 {
  font-size: 20px;
  font-weight: 500;
}

.featuresItemText p {
  font-size: 16px;
  color: var(--regular-color);
}


