.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.info {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.info h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 110%;
  color: var(--heading-color);
}

.info span {
  color: var(--primary-color);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.info p {
  font-size: 18px;
  color: var(--text-color);
  width: 390px;
}

.info button {
  align-self: flex-start
}

.socials {
  display: flex;
  gap: 15px;
}

.overview {
  display: flex;
  gap: 60px;
  padding: 12px 36px;
  box-shadow: 0px 6px 12px rgba(19, 94, 172, 0.12);
}

.overviewItem:nth-child(1) {
  border: none;
}

.overviewItem {
  display: flex;
  gap: 16px;
  padding-left: 25px;
  border-left: 1px solid var(--regular-light-color);
}

.overviewItem img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.overviewItem h4 {
  font-size: 16px;
  font-weight: 500;
  color: var(--regular-color);
}

.overviewItem p {
  font-size: 14px;
  color: var(--regular-light-color);
}