.main {
  margin-top: 105px;
}

.steps {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps h1 {
  padding: 10px 32px;
  font-size: 20px;
  font-weight: 700;
  color: var(--bg-color);
  background-color: var(--title-color);
  border-radius: 8px;
  display: inline-block;
}

.steps h2 {
  font-size: 38px;
  font-weight: 500;
  color: var(--text-color);
  margin-top: 75px;
}

.stepsList {
  display: flex;
  gap: 180px;
  margin: 100px 0;
}

.stepsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 320px;
}

.stepsItem img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  padding: 10px;
  background-color: var(--bg-icon-color);
  border-radius: 16px;
}

.stepsItem h3 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.stepsItem p {
  color: var(--regular-light-color);
  text-align: center;
}