:root {
  --font-poppins: 'Poppins', sans-serif;

  --bg-color: #ffffff;
  --bg-hover-color: #f5f5f5;
  --fg-color: #000000;
  --primary-color: #FFCC00;
  --primary-hover-color: #e6b800;
  --regular-color: #484848;
  --regular-light-color: #B6B6B6;
  --text-color: #272727;
  --heading-color: #242424;
  --bg-primary-color: #FFFB97;
  --title-color: #FFE600;
  --restaurant-color: #0094FF;
  --bg-icon-color: #ECF5FF;
  --bg-input-color: #E6E6E6;
  --bg-sidebar-color: #FFFDD4;
  --bg-reservation-color: #D7F5FF;

  --navbar-height: 105px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  margin-top: var(--navbar-height);
}
