.main {
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.main h1 {
  margin-top: 200px;
  font-size: 48px;
  color: var(--heading-color);
  font-weight: 700;
}

.main h1 span {
  color: var(--primary-color);
}

.main p {
  font-size: 24px;
  color: var(--regular-color);
}